<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	

<head th:fragment="head (title)">
    <link rel="icon" type="image/png" href="./images/favicon.ico">
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>

    <!-- jQuery library -->
    <script src="./js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="./js/bootstrap.min.js"></script>
</head>

<body>
<!-- Title -->
<div th:fragment="header-title (titleBig)">
    <div class="header">
        <div class="header-text" th:text="${titleBig}">
        </div>
    </div>
</div>

<!-- Navbar -->
<div th:fragment="header-navbar">
    <div style="width: 100%;">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/" class="header-element">Home</a>
                        </li>
                        <li>
                            <a href="/method" class="header-element">Method</a>
                        </li>
                        <li>
                            <a href="/about" class="header-element">About</a>
                        </li>
					</ul>
                </div>
            </div>
        </nav>
    </div>
</div>

</body>
</html>
