*{font-family: Arial;}

.header{
    background-color: #00a9e0;
    height: 100px;
}

.header-text{
    font-weight: bold;
    font-size: 34px;
    color: white;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}

.texts{
    color: #67BF29;
}

.main-text{
    color:#092869;
    font-size: 14px;
}

.about-link{
    color:#67BF29;
}

.body {
    width: 976px;
    margin: 0 auto;
}

.back-button {
	margin-bottom: 20px;
}

.footer {
	margin-left: 20px;
}


.header-element {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.header-element:hover {
    color: white !important;
    background-color: #00a9e0 !important;
}


*, *:before, *:after {box-sizing:  border-box !important;}


.row {
    max-width: 976px;
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.item {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
}

.well {
    position:relative;
    display: block;
}

.badge-info {
    background-color: #269abc;
}