<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head (${'Add Indicator'})"></div>
	<script src="../static/js/import.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header-title (${'Add Indicator'})"></div>
<div th:replace="fragments/header :: header-navbar"></div>

<div class="body">
	<p>Added new indicator <b th:text="${indName}"></b></p>
</div>

<div th:replace="fragments/footer :: copy"></div>
<div th:replace="fragments/footer :: admin"></div>
</body>
</html>
