<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head (${'Admin'})"></div>
	<script src="../static/js/bootstrap-tab.js"></script>
    <script src="./js/jquery.form-validator.min.js"></script>
</head>
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
<body>
<div th:replace="fragments/header :: header-title (${'Admin'})"></div>
<div th:replace="fragments/header :: header-navbar"></div>



<div class="body">

	<div class="panel with-nav-tabs panel-default">

		<div class="panel-heading">
			<ul class="nav nav-tabs" id="tabs">
				<li class="active"><a href="#addIndTab" role="tab" data-toggle="tab">Add Indicator</a></li>
				<li><a href="#addDataTab" role="tab" data-toggle="tab">Add Data from CSV</a></li>
				<li><a href="#addRateTab" role="tab" data-toggle="tab">Add Data as Rate</a></li>
        	</ul>
		</div>

		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="addIndTab">
					<form th:action="@{/add-indicator}" th:object="${indicatorForm}" method="post">
						<div>
							<label>Indicator name: </label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please enter indicator name">?</span>
							<input type="text" th:field="*{indicatorName}" class="form-control" name="indicatorName" id="indicatorText" data-validation="required"/>
						</div>

						<div>
							<label>Source: </label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please enter the name of the source(s)">?</span>
							<input type="text" th:field="*{source}" class="form-control" name="source" id="sourceText" data-validation="required"/>
						</div>

						<div>
							<label>Data available only as rate?</label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please tick if data available only as rate">?</span>
							<input type="checkbox" th:field="*{rate}" name="rate" id="rateCheck" checked="false" />
						</div>
						<div class="well">
							<label>Restrictions (Leave blank if data not restricted)</label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please select restrictions(Optional)">?</span>
							<div>
								<label>Sex</label>
								<span class="badge badge-info" data-toggle="tooltip" title="Please choose gender/sex">?</span>
								<div class="radio">
								<label>
									<input type="radio" name="sex" value="M" text="Male">Male
								</label>
								</div>
								<div class="radio">
								<label>
									<input type="radio" name="sex" value="F" text="Female">Female
								</label>
								</div>
							</div>
							<div>
								<label>Minimum age</label>
								<span class="badge badge-info" data-toggle="tooltip" title="Please enter minimum age">?</span>
								<input type="text" th:field="*{minAge}" class="form-control" name="minAge" id="minAgeText" data-validation="number" data-validation-optional="true">
							</div>
							<div>
								<label>Maximum age</label>
								<span class="badge badge-info" data-toggle="tooltip" title="Please enter maximum age">?</span>
								<input type="text" th:field="*{maxAge}" class="form-control" name="maxAge" id="maxAgeText" data-validation="number" data-validation-optional="true">
							</div>
						</div>
						<div>
							<label>Category</label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please choose a category">?</span>
							<select th:field="*{category}" class="form-control" name="category" id="categorySelect">
								<option th:each="category:${categories}" th:text="${category.getName()}" th:value="${category.getName()}"/>
							</select>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="addDataTab">
					<form th:action="@{/import}" th:object="${importForm}" method="post" enctype="multipart/form-data">
						<div>
							<label>File</label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please choose your CSV file">?</span>
							<input type="file" th:field="*{file}" name="file" id="fileselect" accept=".csv" />
						</div>

						<div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="addRateTab">
					<form th:action="@{/add-rate}" th:object="${addRateForm}" method="post" >
						<div>
							<label>Indicator</label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please select the indicator">?</span>
							<select th:field="*{indicator}" name="indicatorSelect">
								<option th:each="indicator:${indicators}" th:if="${indicator.getRate()}" th:text="${indicator.getIndicator()}" th:value="${indicator.getId()}"></option>
							</select>
						</div>

						<div>
							<label>Rate (%)</label>
							<span class="badge badge-info" data-toggle="tooltip" title="Please enter the rate">?</span>
							<input type="text" th:field="*{rate}" class="form-control" data-validation="number" data-validation-allowing="range[0.00;100.00],float">
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
		</div>
	</div>


</div>

<script> $.validate(); </script>



<div th:replace="fragments/footer :: copy"></div>
<div th:replace="fragments/footer :: admin"></div>
</body>
</html>
