<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head (${'Import Data'})"></div>
	<script src="../static/js/import.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header-title (${'Import Data'})"></div>
<div th:replace="fragments/header :: header-navbar"></div>

<div class="body">
	<p>Data for indicator <b th:text="${indicator}"></b> from file <b th:text="${file}"></b> has been added to the database</p>	
</div>

<div th:replace="fragments/footer :: copy"></div>
<div th:replace="fragments/footer :: admin"></div>
</body>
</html>
