<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head (${'Import'})"></div>
</head>
<body>
<div th:replace="fragments/header :: header-title (${'Import'})"></div>
<div th:replace="fragments/header :: header-navbar"></div>

<div class="body">

	<form th:action="@{'/import/' + ${file.getName()}}" th:object="${importProcForm}" method="post">
	<table>
		<tr>
			<td>
				Column with DataZone (DZ2011)
			</td>
			<td th:each="header,headerStat :${headers}">
				<input type="radio" name="datazone" th:value="${headerStat.index}" th:field="*{dzColumn}" />
			</td>
		</tr>
		<tr>
			<td>
				<select th:field="*{indId}">
					<option th:each="indicator:${indicators}" th:value="${indicator.getId()}" th:text="${indicator.getIndicator()}" th:if="${indicator.getRate()} == false"></option>
				</select>
			</td>
			<td th:each="header,headerStat :${headers}">
				<input type="radio" name="popData" th:value="${headerStat.index}" th:field="*{indColumn}"/>
			</td>
		</tr>
		<tr>
			<th />
			<th th:each="header:${headers}" th:text="${header}"></th>
		</tr>
		<tr th:each="line:${tenLines}">
			<td />
			<td th:each="cell:${line}" th:text="${cell}"></td>
		</tr>
	</table>

	<button type="submit" class="btn btn-primary">Submit</button>

	</form>
 
</div>

<div th:replace="fragments/footer :: copy"></div>
<div th:replace="fragments/footer :: admin"></div>
</body>
</html>
