<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="./css/chart.css">
<div th:replace="fragments/header :: head (${'Result'})"></div>
</head>
<body>
<div th:replace="fragments/header :: header-title (${'Result'})"></div>
<div th:replace="fragments/header :: header-navbar"></div>

<div class="body">
    <div class="back-button">
        <a href="/">Back</a>
    </div>
    <table class="table" id="resultTable">
        <thead>
            <tr>
                <th rowspan="2">Deprivation Indicator</th>
                <th rowspan="2">Estimated Number</th>
                <th>Range</th>
                <th></th>
                <th rowspan="2">Source</th>
            </tr>
            <tr>
                <th>Min</th>
                <th>Max</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result:${results}">
                <td th:text="${result.getIndicator().getIndicator()}"></td>
                <td th:text="${result.getResults()[0]}"></td>
                <td th:text="${result.getResults()[1]}"></td>
                <td th:text="${result.getResults()[2]}"></td>
                <td th:text="${result.getIndicator().getSource()}"></td>
            </tr>
        </tbody>
    </table>
    <div id="expl">
        <p>Out of <b id='groupPop' th:text="${groupPop}"></b> people in your group.</p>
        <p>Results for age group: <b id='age' th:text="${ageGroup}"></b> and sex: <b id='sex' th:text="${sex}"></p>
        <p>Total population of <b id='datazone' th:text="${dataZoneName}"></b> is <b id='totalPopulation' th:text="${dataZonePop}"></b></p>
        <p>Generated on: <b id="timestamp"></b></p>
    </div>
    <button onclick="toCSV()" class="btn btn-primary">Download CSV</button>
    <button onclick="toPDF()" class="btn btn-primary">Download PDF</button>
    <button id="chartButton" onclick="showChart()" class="btn btn-primary">Show Stacked Bar Chart</button>

    <div id="tooltip" style="display:none">
  </div>
</div>

<script type="text/javascript" src="http://canvasjs.com//assets/script/canvasjs.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../js/html2canvas.js"></script>
<script src="../js/fileDownload.js"></script>
<script src="../js/chart2.js"></script>


<script src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
<div th:replace="fragments/footer :: copy"></div>
<div th:replace="fragments/footer :: admin"></div>
</body>
</html>
